# Ignore virtual environments
venv/
env/
Keys/


# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env
.env*

# Ignore large files
*.csv
*.json

# Ignore logs and temp files
*.log
*.tmp

# Ignore database files
*.sqlite3
*.db

# Ignore VSCode and IDE settings
.vscode/
.idea/

# Ignore test coverage data
.coverage
htmlcov/

# Ignore Python dependencies
pip-wheel-metadata/
dist/
build/